@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family=Montserrat:wght@400;500;700&family=Open+Sans&family=Poppins:wght@300;500&display=swap");

$large: 4rem;
$large-line-height: 4rem;
$hover: #7172da;

body {
  margin: 0;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.colored-text {
  background-image: linear-gradient(to right, blue, green);
  -webkit-background-clip: text;
  //   background-clip: ;
  -webkit-text-fill-color: transparent;
}

@import "../styles/accordion";
@import "../styles/hero";
@import "../styles/dropdown";
